* {
  margin: 0;
  padding: 0;
  // transition: all 0.3s ease-in-out;
}

@mixin textStyle($textColor, $fontSize) {
  font-family: "Times New Roman", Times, serif;
  color: $textColor;
  font-size: $fontSize;
}
// Sätter fonten till Times New Roman samt vald textfärg och textstorlek enligt variablerna som matas in.

@mixin absoluteCenterWithFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Sätter flex på elementet och centrerar ifall det finns tom plats på alla sidor om elementet.

$elementColor: #b6dcac;
$backgroundColor: #e4f0f6;
$hoverColor: rgba(111, 117, 121, 0.275);
$baseTextColor: #070707;

#root {
  background-color: var(--body_background);
  height: 100vh;
  @include absoluteCenterWithFlex;
  flex-direction: column;

  #headerBar {
    margin-top: 1.5em;
    height: 8em;
    background-color: var(--body_backgroundHeader);
    @include absoluteCenterWithFlex;

    #wackBookTitle {
      @include textStyle($baseTextColor, 4em);
      color: var(--headerText_color);
    }
  }

  #loggedInHeaderBar {
    margin-top: 1.5em;
    height: 8em;
    background-color: var(--body_backgroundHeader);
    @include absoluteCenterWithFlex;
    flex-direction: row;
    overflow: hidden;

    #wackBookTitle {
      @include textStyle($baseTextColor, 4em);
      margin-left: 0.5em;
      color: var(--headerText_color);
    }

    #accountSettingsContainer {
      margin-left: 0;
      position: fixed;
      right: 0;

      #accountButton {
        margin-left: 0;
      }
    }
  }

  #accountSettings {
    background-color: var(--body_backgroundHeader);
    height: 50vh;
    display: flex;
    flex-direction: column;
    color: var(--baseText_color);
  }

  #accountSettingsCircle {
    color: var(--accountSettings_circle);
  }

  #accountSettingsButton {
    color: var(--accountSettings_button);
    background-color: var(--accountSettings_buttonBackground);
  }

  #accountSettingsButtonRemove {
    color: var(--accountSettings_button);
    margin-top: 5em;
  }

  // #changePassWord {
  //   background-color: var(--accountSettings_textbox);
  // }

  #createPostBox {
    background-color: var(--posts_background);
  }

  #posts {
    background-color: var(--posts_background);
    color: var(--posts_text);
  }

  #postsBox {
    background-color: var(--posts_box);
  }

  .like-button-container {
    display: flex;
    justify-content: center;
    margin-top: 4px;

    .like-button {
      border: none;
      outline: none;
      border-radius: 10px;
      background-color: transparent;
      font-size: 14px;
      font-weight: bold;
      color: #333;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      padding: 0.8px 3px;
      border: 2px solid #333;
    }
    :hover {
      color: #fff;
      background-color: #852b2b;
    }

    .liked {
      color: #f45c5c;
      border-color: #f77373;
    }
  }

  #friendsContainer {
    padding: 3em;
    height: 55%;
    margin-right: 2em;
    border-radius: 5px;
    position: fixed;
    align-self: flex-end;
    background-color: var(--body_backgroundHeader);
    top: 15em;

    #friendsContainerBox {
      background-color: var(--friendsContainer_box);
      color: var(--friendsContainer_text);
    }

    .onlineStatus {
      width: 10px;
      aspect-ratio: 1;
      background-color: green;
      border-radius: 50%;
      transition: $backgroundColor 0s;

      .offline {
        background-color: red;
      }
    }
  }

  #signInForm {
    padding: 3em;
    background-color: var(--body_backgroundHeader);
    border-radius: 5px;
    color: var(--baseText_color);

    #signInError {
      text-align: center;
    }

    form input {
      background-color: $backgroundColor;
    }

    #logInButton {
      background-color: $backgroundColor;
      color: $baseTextColor;

      &:hover {
        background-color: $hoverColor;
      }
    }

    #noAccount {
      display: flex;
      justify-content: center;
      color: var(--baseText_color);
      text-decoration-color: var(--baseText_color);

      &:hover {
        text-decoration-color: white;
      }
    }
  }

  #signUpForm {
    margin-top: 4em;
    padding: 3em;
    background-color: var(--body_backgroundHeader);
    border-radius: 5px;
    color: var(--baseText_color);

    p {
      text-align: center;
    }

    form input {
      background-color: $backgroundColor;
    }

    #signUpButton {
      background-color: $backgroundColor;
      color: $baseTextColor;

      &:hover {
        background-color: $hoverColor;
      }
    }
    #haveAccount {
      display: flex;
      justify-content: center;
      color: var(--baseText_color);
      text-decoration-color: var(--baseText_color);

      &:hover {
        text-decoration-color: white;
      }
    }
  }
}
.dark_mode {
  margin-top: -20px;
  margin-left: 10px;
  position: fixed;
  left: 0;

  .dark_mode_label {
    width: 65px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
  }
  .dark_mode_label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .dark_mode_input:checked + .dark_mode_label {
    background: #242424;
  }
  .dark_mode_input:checked + .dark_mode_label:after {
    left: 62px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
  .dark_mode_label:active:after {
    width: 30px;
  }

  .dark_mode_label svg {
    position: absolute;
    width: 20px;
    top: 5px;
    z-index: 100;
  }
  .dark_mode_label svg.sun {
    left: 5px;
    fill: #fff;
    transition: 0.3s;
  }
  .dark_mode_label svg.moon {
    left: 40px;
    fill: #7e7e7e;
    transition: 0.3s;
  }
  .dark_mode_input:checked + .dark_mode_label svg.sun {
    fill: #7e7e7e;
  }
  .dark_mode_input:checked + .dark_mode_label svg.moon {
    fill: #fff;
  }
}

//Mobiltelefoner

@media screen and (max-width: 480px) {
  #root > #friendsContainer {
    // width: clamp(1em, 28vw + 5.5em, 11em);
    padding: 3em;
    height: 5em;
    margin-right: 2em;
    border-radius: 5px;
    position: fixed;
    align-self: flex-end;
    background-color: $elementColor;
    // top: 15em;
    bottom: 0;
    left: 0em;
    display: flex;
    flex-direction: row;
    top: auto;
    padding-top: 0em;
    padding-left: 1em;
  }
  #root #friendsListBoxOne,
  #friendsListBoxTwo,
  #friendsListBoxThree,
  #friendsListBoxFour {
    display: flex;
    justify-content: space-between;
    margin-left: 0.2em;
    width: clamp(2em, 20vw + 1em, 17em);
  }

  #root #JÖ,
  #RB,
  #OR,
  #JTG {
  }
  #root .onlineStatus {
    margin-left: -1em;
  }
  #root .AvatarBox {
    margin-left: 0.2em;
  }
  #root .TypographyText {
    // font-size: clamp(1em, 1vw+1em, 1.0em);
    margin-left: -1em;
  }

  #createPostContainer {
    padding-top: 3%;

    #createPostBox {
      width: 106%;
    }
  }
}
//Padda/större telefoner
@media screen and (min-width: 481px) and (max-width: 768px) {
  #root > #friendsContainer {
    // width: clamp(1em, 28vw + 5.5em, 11em);
    padding: 3em;
    height: 5em;
    margin-right: 2em;
    border-radius: 5px;
    position: fixed;
    align-self: flex-end;
    background-color: $elementColor;
    // top: 15em;
    bottom: 0;
    left: 0em;
    display: flex;
    flex-direction: row;
    top: auto;
    padding-top: 0em;
    padding-left: 1em;
  }
  #root #friendsListBoxOne,
  #friendsListBoxTwo,
  #friendsListBoxThree,
  #friendsListBoxFour {
    display: flex;
    justify-content: space-between;
    margin-left: 0.2em;
    width: clamp(2em, 20vw + 1em, 17em);
  }

  #root #JÖ,
  #RB,
  #OR,
  #JTG {
  }
  #root .onlineStatus {
    margin-left: -1em;
  }
  #root .AvatarBox {
    margin-left: 0.2em;
  }
  #root .TypographyText {
    // font-size: clamp(1em, 1vw+1em, 1.0em);
    margin-left: -1em;
  }

  #createPostContainer {
    padding-top: 3%;

    #createPostBox {
      width: 106%;
    }
  }
}
//Laptop och skärmar
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #root > #friendsContainer {
    // width: clamp(1em, 28vw + 5.5em, 11em);
    padding: 3em;
    height: 5em;
    margin-right: 2em;
    border-radius: 5px;
    position: fixed;
    align-self: flex-end;
    background-color: $elementColor;
    // top: 15em;
    bottom: 0;
    left: 0em;
    display: flex;
    flex-direction: row;
    top: auto;
    padding-top: 0em;
  }
  #root #friendsListBoxOne,
  #friendsListBoxTwo,
  #friendsListBoxThree,
  #friendsListBoxFour {
    display: flex;
    justify-content: space-between;
    margin-left: 0.2em;
    width: clamp(1em, 28vw + 5.5em, 17em);
  }

  #root #friendsListBoxOne,
  #friendsListBoxTwo,
  #friendsListBoxThree,
  #friendsListBoxFour {
    display: flex;
    justify-content: space-between;
    margin-left: 0.2em;
    width: clamp(2em, 20vw + 1em, 17em);
  }

  #root #JÖ,
  #RB,
  #OR,
  #JTG {
  }
  #root .onlineStatus {
    margin-left: -1em;
  }
  #root .AvatarBox {
    margin-left: 0.2em;
  }
  #root .TypographyText {
    margin-left: -1em;
  }

  #createPostContainer {
    padding-top: 3%;

    #createPostBox {
      width: 106%;
    }
  }
}
//Större skärmar
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #friendsContainer {
    width: clamp(5em, 9vw + 5.5em, 16em);
  }
  #createPostContainer {
    padding-top: 3%;

    #createPostBox {
      width: 106%;
    }
  }
}
@media screen and (min-width: 1201px) {
  #friendsContainer {
    width: clamp(12em, 15vw + 5.6em, 40em);
  }
  #createPostContainer {
    padding-top: 3%;

    #createPostBox {
      width: 106%;
    }
  }
  #PostIdName {
    // text-align: ;
  }
}

// 320px — 480px: Mobile devices.
//     481px — 768px: iPads, Tablets.
//     769px — 1024px: Small screens, laptops.
//     1025px — 1200px: Desktops, large screens.
//     1201px and more — Extra large screens, TV.
