* {
  margin: 0;
  padding: 0;
}

@mixin textStyle($textColor, $fontSize) {
  font-family: "Times New Roman", Times, serif;
  color: $textColor;
  font-size: $fontSize;
}
// Sätter fonten till Times New Roman samt vald textfärg och textstorlek enligt variablerna som matas in.

@mixin absoluteCenterWithFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Sätter flex på elementet och centrerar ifall det finns tom plats på alla sidor om elementet.

$elementColor: #b6dcac;
$backgroundColor: #e4f0f6;
$hoverColor: rgba(111, 117, 121, 0.275);
$baseTextColor: #070707;

#root {
  background-color: $backgroundColor;
  height: 100vh;
  @include absoluteCenterWithFlex;
  flex-direction: column;

  #loggedInHeaderBar {
    margin-top: 1.5em;
    height: 8em;
    background-color: $elementColor;
    @include absoluteCenterWithFlex;
    flex-direction: row;
    overflow: hidden;

    h1 {
      @include textStyle($baseTextColor, 4em);
      margin-left: 0.5em;
    }

    #accountSettingsContainer {
      margin-left: 0;
      position: fixed;
      right: 0;

      #accountButton {
        margin-left: 0;
      }
    }
  }

  #headerBar {
    margin-top: 1.5em;
    height: 8em;
    background-color: $elementColor;
    @include absoluteCenterWithFlex;

    h1 {
      @include textStyle($baseTextColor, 4.5em);
    }
  }

  #signInForm {
    padding: 3em;
    background-color: $elementColor;
    border-radius: 5px;

    form input {
      background-color: $backgroundColor;
    }

    #logInButton {
      background-color: $backgroundColor;
      color: $baseTextColor;

      &:hover {
        background-color: $hoverColor;
      }
    }

    #noAccount {
      display: flex;
      justify-content: center;
      color: $baseTextColor;
      text-decoration-color: $baseTextColor;

      &:hover {
        text-decoration-color: white;
      }
    }
  }

  #signUpForm {
    margin-top: 4em;
    padding: 3em;
    background-color: $elementColor;
    border-radius: 5px;

    form input {
      background-color: $backgroundColor;
    }

    #signUpButton {
      background-color: $backgroundColor;
      color: $baseTextColor;

      &:hover {
        background-color: $hoverColor;
      }
    }
    #haveAccount {
      display: flex;
      justify-content: center;
      color: $baseTextColor;
      text-decoration-color: $baseTextColor;

      &:hover {
        text-decoration-color: white;
      }
    }
  }
}
