* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #e4f0f6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root #headerBar {
  margin-top: 1.5em;
  height: 8em;
  background-color: #b6dcac;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #headerBar #wackBookTitle {
  font-family: "Times New Roman", Times, serif;
  color: #070707;
  font-size: 4em;
  color: rgba(0, 37, 25, 0.6862745098);
}
#root #loggedInHeaderBar {
  margin-top: 1.5em;
  height: 8em;
  background-color: #b6dcac;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
#root #loggedInHeaderBar #wackBookTitle {
  font-family: "Times New Roman", Times, serif;
  color: #070707;
  font-size: 4em;
  margin-left: 0.5em;
  color: rgba(0, 37, 25, 0.6862745098);
}
#root #loggedInHeaderBar #accountSettingsContainer {
  margin-left: 0;
  position: fixed;
  right: 0;
}
#root #loggedInHeaderBar #accountSettingsContainer #accountButton {
  margin-left: 0;
}
#root .like-button-container {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}
#root .like-button-container .like-button {
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0.8px 3px;
  border: 2px solid #333;
}
#root .like-button-container :hover {
  color: #fff;
  background-color: #852b2b;
}
#root .like-button-container .liked {
  color: #f45c5c;
  border-color: #f77373;
}
#root #friendsContainer {
  padding: 3em;
  height: 55%;
  margin-right: 2em;
  border-radius: 5px;
  position: fixed;
  align-self: flex-end;
  background-color: #b6dcac;
  top: 15em;
}
#root #friendsContainer .onlineStatus {
  width: 10px;
  aspect-ratio: 1;
  background-color: green;
  border-radius: 50%;
  transition: #e4f0f6 0s;
}
#root #friendsContainer .onlineStatus .offline {
  background-color: red;
}
#root #signInForm {
  padding: 3em;
  background-color: #b6dcac;
  border-radius: 5px;
}
#root #signInForm #signInError {
  text-align: center;
}
#root #signInForm form input {
  background-color: #e4f0f6;
}
#root #signInForm #logInButton {
  background-color: #e4f0f6;
  color: #070707;
}
#root #signInForm #logInButton:hover {
  background-color: rgba(111, 117, 121, 0.275);
}
#root #signInForm #noAccount {
  display: flex;
  justify-content: center;
  color: #070707;
  text-decoration-color: #070707;
}
#root #signInForm #noAccount:hover {
  text-decoration-color: white;
}
#root #signUpForm {
  margin-top: 4em;
  padding: 3em;
  background-color: #b6dcac;
  border-radius: 5px;
}
#root #signUpForm p {
  text-align: center;
}
#root #signUpForm form input {
  background-color: #e4f0f6;
}
#root #signUpForm #signUpButton {
  background-color: #e4f0f6;
  color: #070707;
}
#root #signUpForm #signUpButton:hover {
  background-color: rgba(111, 117, 121, 0.275);
}
#root #signUpForm #haveAccount {
  display: flex;
  justify-content: center;
  color: #070707;
  text-decoration-color: #070707;
}
#root #signUpForm #haveAccount:hover {
  text-decoration-color: white;
}

@media screen and (max-width: 480px) {
  #root > #friendsContainer {
    padding: 3em;
    height: 5em;
    margin-right: 2em;
    border-radius: 5px;
    position: fixed;
    align-self: flex-end;
    background-color: #b6dcac;
    bottom: 0;
    left: 0em;
    display: flex;
    flex-direction: row;
    top: auto;
    padding-top: 0em;
    padding-left: 1em;
  }
  #root #friendsListBoxOne, #friendsListBoxTwo, #friendsListBoxThree, #friendsListBoxFour {
    display: flex;
    justify-content: space-between;
    margin-left: 0.2em;
    width: clamp(2em, 20vw + 1em, 17em);
  }
  #root .onlineStatus {
    margin-left: -1em;
  }
  #root .AvatarBox {
    margin-left: 0.2em;
  }
  #root .TypographyText {
    margin-left: -1em;
  }
  #createPostContainer {
    padding-top: 3%;
  }
  #createPostContainer #createPostBox {
    width: 106%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  #root > #friendsContainer {
    padding: 3em;
    height: 5em;
    margin-right: 2em;
    border-radius: 5px;
    position: fixed;
    align-self: flex-end;
    background-color: #b6dcac;
    bottom: 0;
    left: 0em;
    display: flex;
    flex-direction: row;
    top: auto;
    padding-top: 0em;
    padding-left: 1em;
  }
  #root #friendsListBoxOne, #friendsListBoxTwo, #friendsListBoxThree, #friendsListBoxFour {
    display: flex;
    justify-content: space-between;
    margin-left: 0.2em;
    width: clamp(2em, 20vw + 1em, 17em);
  }
  #root .onlineStatus {
    margin-left: -1em;
  }
  #root .AvatarBox {
    margin-left: 0.2em;
  }
  #root .TypographyText {
    margin-left: -1em;
  }
  #createPostContainer {
    padding-top: 3%;
  }
  #createPostContainer #createPostBox {
    width: 106%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #root > #friendsContainer {
    padding: 3em;
    height: 5em;
    margin-right: 2em;
    border-radius: 5px;
    position: fixed;
    align-self: flex-end;
    background-color: #b6dcac;
    bottom: 0;
    left: 0em;
    display: flex;
    flex-direction: row;
    top: auto;
    padding-top: 0em;
  }
  #root #friendsListBoxOne, #friendsListBoxTwo, #friendsListBoxThree, #friendsListBoxFour {
    display: flex;
    justify-content: space-between;
    margin-left: 0.2em;
    width: clamp(1em, 28vw + 5.5em, 17em);
  }
  #root #friendsListBoxOne, #friendsListBoxTwo, #friendsListBoxThree, #friendsListBoxFour {
    display: flex;
    justify-content: space-between;
    margin-left: 0.2em;
    width: clamp(2em, 20vw + 1em, 17em);
  }
  #root .onlineStatus {
    margin-left: -1em;
  }
  #root .AvatarBox {
    margin-left: 0.2em;
  }
  #root .TypographyText {
    margin-left: -1em;
  }
  #createPostContainer {
    padding-top: 3%;
  }
  #createPostContainer #createPostBox {
    width: 106%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #friendsContainer {
    width: clamp(5em, 9vw + 5.5em, 16em);
  }
  #createPostContainer {
    padding-top: 3%;
  }
  #createPostContainer #createPostBox {
    width: 106%;
  }
}
@media screen and (min-width: 1201px) {
  #friendsContainer {
    width: clamp(12em, 15vw + 5.6em, 40em);
  }
  #createPostContainer {
    padding-top: 3%;
  }
  #createPostContainer #createPostBox {
    width: 106%;
  }
}/*# sourceMappingURL=App.css.map */